.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7.5vh 80vh 12.5vh;
    grid-template-areas: 
    
    "nav nav nav nav nav"
    ". main main main ."
    "foot foot foot foot foot"
    ;
}
.navbar{
    grid-area: nav;
    background-color: var(--trans-navy);
}
.main{
    grid-area: main;
}
.footer{
    grid-area: foot;
    background-color: var(--trans-navy);
}
.navbar, .main, .footer{
    display: grid;
    place-content: center;
}